body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: violet;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .form_container {
            background: #fff;
            padding: 30px;
            border-radius: 10px;
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
            width: 400px;
        }

        form {
            display: flex;
            flex-direction: column;
        }

        h2 {
            text-align: center;
            margin-bottom: 20px;
            color: #333;
            font-size: 24px;
        }

        label {
            margin-bottom: 8px;
            font-weight: bold;
            color: #555;
        }

        input[type="text"], 
        input[type="email"]
        {
            width: 95%;
            padding: 10px;
            margin-bottom: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 16px;
        }

        select {
            width: 100%; /* Full width */
            padding: 10px; /* Space inside */
            margin-bottom: 20px; /* Spacing below */
            border: 1px solid #ccc; /* Border color */
            border-radius: 5px; /* Rounded corners */
            font-size: 16px; /* Font size */
            background-color: #fff; /* Background color */
            color: #333; /* Text color */
            appearance: none; /* Remove default dropdown arrow */
            cursor: pointer;
        }

        select:focus { 
            outline: none; /* Remove outline */
            border: 1px solid #ccc; /* Change border color on focus */
            
        }

        .custom_arrow {
            position: relative;
            display: inline-block;
        }


        .button_container {
            display: flex;
            justify-content: space-between; /* Buttons are spaced apart */
            gap: 10px; /* Add spacing between buttons */
        }

        button {
            flex: 1; /* Equal width for both buttons */
            padding: 12px;
            border: none;
            border-radius: 5px;
            font-size: 16px;
            cursor: pointer;
            color: #fff;
        }

        .submit_btn {
            background: #4caf50;
        }

        .submit_btn:hover {
            background: #04cf4e;
        }

        .show_btn {
            display: flex;
            justify-content: space-between; /* Buttons are spaced apart */
            gap: 10px; 
            flex: 1; /* Equal width for both buttons */
            padding: 12px;
            border: none;
            border-radius: 5px;
            font-size: 16px;
            cursor: pointer;
            color: #fff;
            background: #8904e8;
        }

        .show_btn:hover {
            background: #8d0281;
        }